$primary: rgb(206, 27, 40);
$secondary: rgb(17, 17, 17);
$white: #fff;
$lightGray: #f1f1f1;
$red: #FFCE00;
$orange: #FE4880;
$dark:#212121;
$light: #F3F3F3;
$darkGray:#434A42;
$gunMetal:#232c33;
$transition: 0.3s ease all;
$sectionPadding: 80px 0;